html {
  width: 100%;
  height: 100%;
}

body {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 5px 5px 5px 5px;
}

.map-root {
  width: 100%;
  height: 80vh;
}

.map-root:focus {
  outline: #3333dd solid 0.15em;
}

/* Anchor the title against the top center of the map. */
.title-container {
  position: absolute;
  width: max-content;
  left: 50%;
  transform: translateX(-50%);
  padding: 5px;
  font-family: "arial", "trebuchet ms", sans-serif;
  font-size: 24px;
  font-weight: 700;

  /* To make the title readable on top of the Map: */
  z-index: 2;
  color: #575757;
  text-shadow: 0.1em 0 rgb(239, 239, 239), 0 0.1em rgb(239, 239, 239),
    -0.1em 0 rgb(239, 239, 239), 0 -0.1em rgb(239, 239, 239);
}

p {
  font-family: "arial", sans-serif;
  font-size: 1em;
  line-height: 1.4;
}

.subtitle {
  font-family: "arial", sans-serif;
  font-size: 1.5em;
  font-weight: bold;
  margin-bottom: 10px;
}

input:invalid {
  border: none;
  outline: 2px solid red;
  border-radius: 5px;
}

/* A simple style for the selected feature popup. */
.popup {
  border-radius: 5px;
  border: 1px solid grey;
  background-color: rgba(255, 255, 255, 0.9);
  padding: 2px;
}

/* Anchor the date slider against the bottom center of screen. */
.date-range-container {
  position: absolute;
  display: flex;
  flex-direction: column;
  bottom: 0px;
  left: 50%;
  transform: translateX(-50%);
  padding: 5px;
  width: 60%;
}

.editor-view {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.editor-pane {
  flex: 1 1 0px;
  padding: 5px;
  width: 0;
  min-width: 400px;
}

.editor {
  resize: vertical;
  overflow: auto;

  min-height: 3em;
}
