/* A simple style for the selected feature popup. */
.popup {
  border-radius: 5px;
  border: 1px solid grey;
  background-color: rgba(255, 255, 255, 0.9);
  padding: 2px;
}

.date-range-container {
  /* Own style to anchor the date slider against the bottom center of screen. */
  /*
    bottom: 0.5em;
    max-width: fit-content;
  */
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  margin: 5px;

  /* Style from the Medium article */
  display: flex;
  flex-direction: column;
  width: 80%;
  /* margin: 35% auto; */
}
